.kittens-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin: 2rem;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  transition: 0.5s;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  order: 1;

  .kittens-img {
    width: 300px;
  }

  .kittens-name {
    font-size: 30px;
    color: white;
    background-color: rgba(124, 114, 105, 0.5);
    padding: 0 10px;

    position: absolute;
    bottom: 10px;
    z-index: 5;
  }

  .kittens-img-2 {
    display: none;
  }
}

.kittens-img-container:hover {
  cursor: pointer;
}

.kittens-img-container-clicked {
  border-radius: 0;
  order: 0;
  height: 90%;
  width: 90%;

  cursor: pointer;
  //   transition: 1s;

  .kittens-img {
    width: 45%;
    margin-right: 1rem;
  }

  .kittens-img-2 {
    padding: 2px;
    width: 50%;
    display: inline-block;
  }
}

.close-icon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  z-index: 200;
  cursor: pointer;
}

// Media Queries
@media screen and (max-width: 1024px) {
  .kittens-img-container {
    height: 150px;
    width: 150px;

    .kittens-img {
      width: 200px;
    }

    .kittens-name {
      font-size: 1rem;
    }
  }

  .kittens-img-container-clicked {
    border-radius: 0;
    // order: 0;
    height: 90%;
    width: 90%;

    cursor: pointer;
    //   transition: 1s;

    .kittens-img {
      width: 45%;
      margin-right: 1rem;
    }

    .kittens-img-2 {
      padding: 2px;
      width: 50%;
      display: inline-block;
    }
  }

  .close-icon {
    top: calc(70px + 2rem);
  }
}

@media screen and (max-width: 600px) {
  .kittens-img-container {
    height: 100px;
    width: 100px;

    .kittens-img {
      width: 120px;
    }

    .kittens-name {
      font-size: 0.8rem;
    }
  }

  .kittens-img-container-clicked {
    border-radius: 0;
    // order: 0;
    height: 90%;
    width: 90%;

    cursor: pointer;
    //   transition: 1s;

    .kittens-img {
      width: 45%;
      margin-right: 1rem;
    }

    .kittens-img-2 {
      padding: 2px;
      width: 50%;
      display: inline-block;
    }
  }
}
