.adults-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin: 0.5rem;
  width: 20%;
  max-width: 500px;
  height: 40%;
  transform: skew(-20deg);
  transition: 0.5s;

  .adults-img {
    height: 600px;
    transform: skew(20deg);
  }

  .adults-name {
    font-size: 30px;
    color: white;
    background-color: rgba(124, 114, 105, 0.5);
    padding: 0 10px;

    position: absolute;
    bottom: 20px;
    transform: skew(20deg);
  }

  .adults-desc-container {
    font-size: 30px;
    color: white;
    padding: 0 10px;

    position: absolute;
    text-align: center;

    height: 100%;
    width: 100%;

    .adults-desc-list {
      width: fit-content;
      background-color: rgba(124, 114, 105, 0.5);

      .adults-desc {
        width: fit-content;
        margin: 10px 0;
        padding: 0 5px;
        font-size: 20px;
        transform: skew(20deg);
      }
    }
  }
}

// Media Queries
@media screen and (min-width: 1024px) {
  .adults-img-container:hover {
    width: 100%;
    cursor: pointer;
  }

  .adults-img-container-clicked {
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .adults-img-container {
    width: 20%;
    transform: skew(0deg);

    .adults-img {
      height: 400px;
      transform: skew(0deg);
    }

    .adults-name {
      transform: skew(0deg);
    }

    .adults-desc-container {
      .adults-desc-list {
        .adults-desc {
          transform: skew(0deg);
        }
      }
    }
  }

  .adults-img-container:hover {
    cursor: pointer;
  }

  .adults-img-container-clicked {
    cursor: pointer;
    width: 300%;
    max-width: fit-content;
    transition: 1s;
  }
}
