.contact {
  height: 100%;
  color: white;
  background-color: rgba(124, 114, 105, 0.8);

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;

    height: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 1rem;
    padding-top: 5rem;

    .contact-info {
      display: flex;
      flex-direction: column;
      width: 40%;
      min-width: fit-content;
      position: relative;
      overflow: hidden;

      .contact-item {
        margin-top: 1rem;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      width: 55%;
      gap: 1rem;

      .contact-input {
        padding: 1rem;
        border: 1px solid rgb(124, 114, 105);
        border-radius: 10px;
      }

      .contact-btn {
        cursor: pointer;
        padding: 10px;
        color: white;
        background-color: rgb(124, 114, 105);
        border: 1px solid rgb(124, 114, 105);
        border-radius: 10px;
      }

      .contact-btn:hover {
        // color: rgb(124, 114, 105);
        background-color: rgba(177, 167, 158, 0.3);
        transition: 0.2s;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 2rem;

    .contact-info {
      text-align: center;
      width: 100% !important;
    }

    .contact-form {
      width: 100% !important;
    }
  }
}
