.adults {
  height: 100%;
  backdrop-filter: blur(20px);
  width: 100%;

  .adults-wrapper {
    display: flex;

    height: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 1rem;

    .adults-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      height: 100%;

      .adults-title {
        // width: min-content;
        width: 20%;
        margin-right: 2rem;

        text-shadow: 1px 1px white;
      }

      .adults-images {
        display: flex;
        justify-content: center;
        width: 80%;
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .adults {
    padding-top: 70px;

    .adults-container {
      flex-direction: column;

      .adults-title {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;

        color: white;
        text-shadow: 2px 2px rgb(124, 114, 105) !important;
      }

      .adults-images {
        width: 100% !important;
      }
    }
  }
}
