.kittens {
  height: 100%;

  .kittens-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 1rem;

    .kittens-title {
      width: 100%;
      margin: 2rem 0;
      text-align: center;
    }

    .kittens-images {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;

      height: 100%;
    }
  }
}
